<!DOCTYPE html>
<html lang="es">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <meta http-equiv="X-UA-Compatible" content="ie=edge" />
    <title>Carbosur</title>
    <link href="../css/carrousel.css" rel="stylesheet" />
    <link rel="stylesheet" href="../css/estilos.css" />
    <link
      href="https://fonts.googleapis.com/css?family=Roboto:100,300,400,700&display=swap"
      rel="stylesheet"
    />
    <link href="https://unpkg.com/aos@2.3.1/dist/aos.css" rel="stylesheet" />
  </head>

  <body>
    <header>
      <nav>
        <section class="contenedor nav">
          <div class="logo">
            <img src="../img/Logo.PNG" alt="Carbosur logo" />
          </div>
          <div class="enlaces-header">
            <a href="./index.html">Inicio</a>
            <a href="../views/whowe.html">Quienes somos</a>
            <a href="../views/carrousel.html">Sobre nosotros</a>
            <a href="../views/Products.html">Productos</a>
            <a href="../views/contact.html">Contacto</a>
          </div>
          <div class="hamburguer">
            <i class="fas fa-bars"></i>
          </div>
        </section>
      </nav>
      <div class="contenedor">
        <section class="contenido-header">
          <section class="textos-header">
            <h1>Usted pide, nosotros hacemos</h1>
            <p>
              Ofrecemos distintas soluciones a los pedidos de nuestros clientes.
            </p>
            <a href="#">Learn more</a>
          </section>
          <div class="heading-frame">
            <img src="../img/sliders/slider-1.jpg" alt="" />
          </div>
        </section>
      </div>
    </header>
    <section>
      <div class="wrapper">
        <!-- \\ Begin sidephotos Section \\ -->
        <nav class="lil-nav">
          <a href="#image-1">
            <img
              class="lil-nav__img"
              src="../img/sliders/slider-1.jpg"
              alt="carbon"
            />
          </a>
          <a href="#image-2">
            <img
              class="lil-nav__img"
              src="../img/sliders/slider-2.jpg"
              alt="carbon"
            />
          </a>
          <a href="#image-3">
            <img
              class="lil-nav__img"
              src="../img/sliders/slider-3.jpg"
              alt="carbon"
            />
          </a>
          <a href="#image-4">
            <img
              class="lil-nav__img"
              src="../img/sliders/slider-4.jpg"
              alt="carbon"
            />
          </a>
          <a href="#image-5">
            <img
              class="lil-nav__img"
              src="../img/sliders/slider-5.jpg"
              alt="carbon"
            />
          </a>
        </nav>
        <!-- \\ End sidephotos Section \\ -->
        <!-- \\ Begin Main photos Section \\ -->
        <div class="gallery">
          <img
            class="gallery__img"
            id="image-1"
            src="../img/sliders/slider-1.jpg"
            alt="carbon"
          />
          <img
            class="gallery__img"
            id="image-2"
            src="../img/sliders/slider-2.jpg"
            alt="carbon"
          />
          <img
            class="gallery__img"
            id="image-3"
            src="../img/sliders/slider-3.jpg"
            alt="carbon"
          />
          <img
            class="gallery__img"
            id="image-4"
            src="../img/sliders/slider-4.jpg"
            alt="carbon"
          />
          <img
            class="gallery__img"
            id="image-5"
            src="../img/sliders/slider-5.jpg"
            alt="carbon"
          />
        </div>
        <!-- \\ End main photos Section \\ -->
      </div>
      <!-- \\ End Carrousel Section \\ -->
    </section>
    <footer>
      <div class="partFooter">
        <img src="./img/Logo.PNG" alt="" />
      </div>
      <div class="partFooter">
        <h4>Servicios</h4>
        <a href="#">Terminos y servicios</a>
        <a href="#">Services 2</a>
        <a href="#">Services 3</a>
      </div>
      <div class="partFooter">
        <h4>Acerca de</h4>
        <a href="#">About 1</a>
        <a href="#">About 2</a>
        <a href="#">About 3</a>
      </div>
      <div class="partFooter">
        <h4>Redes sociales</h4>
        <div class="social-media">
          <i class="fab fa-facebook-f"></i>
          <i class="fab fa-twitter"></i>
          <i class="fab fa-instagram"></i>
          <i class="fab fa-youtube"></i>
        </div>
      </div>
      <div>
        <p>
          COPYRIGHT &copy; 2022 Carbosur S.R.L.
          <a href="https://github.com/HernanCazeneuve?tab=repositories">HC</a>
        </p>
      </div>
    </footer>
    <script src="https://unpkg.com/aos@2.3.1/dist/aos.js"></script>
    <script src="https://kit.fontawesome.com/c15b744a04.js"></script>
    <script src="https://kit.fontawesome.com/9e8686deca.js"></script>
    <script src="js/main.js"></script>
  </body>
</html>
