<html lang="en">
  <html lang="es">
    <head>
      <meta charset="UTF-8" />
      <meta name="viewport" content="width=device-width, initial-scale=1.0" />
      <meta http-equiv="X-UA-Compatible" content="ie=edge" />
      <title>Carbosur</title>
      <link rel="stylesheet" href="../css/estilos.css" />
      <link
        href="https://fonts.googleapis.com/css?family=Roboto:100,300,400,700&display=swap"
        rel="stylesheet"
      />
      <link href="https://unpkg.com/aos@2.3.1/dist/aos.css" rel="stylesheet" />
    </head>
    <body>
      <header>
        <nav>
          <section class="contenedor nav">
            <div class="logo">
              <img src="../img/Logo.PNG" alt="Carbosur logo" />
            </div>
            <div class="enlaces-header">
              <a href="../index.html">Inicio</a>
              <a href="../views/contact.html">Contacto</a>
            </div>
            <div class="hamburguer">
              <i class="fas fa-bars"></i>
            </div>
          </section>
        </nav>
        <div class="contenedor">
          <section class="contenido-header">
            <section class="textos-header">
              <h1>Podes encontrarnos el parque Industrial de Alvear</h1>
              <p>
                Ofrecemos distintas soluciones a los pedidos de nuestros
                clientes realizamo envios a Rosario y alrededores.
              </p>
            </section>
            <div class="heading-frame">
              <iframe
                src="https://www.google.com/maps/embed?pb=!1m14!1m8!1m3!1d13374.07489065573!2d-60.5991166!3d-33.0691353!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x0%3A0x760f1df847d1bf38!2sCarbosur%20SRL!5e0!3m2!1sen!2sar!4v1666907718360!5m2!1sen!2sar"
                width="600"
                height="450"
                style="border: 0"
                allowfullscreen=""
                loading="lazy"
                referrerpolicy="no-referrer-when-downgrade"
              ></iframe>
            </div>
          </section>
        </div>
      </header>
      <!-- \\ Begin Contact Section \\ -->
      <section class="ubi">
        <div class="header-ubi">
          <h2>Contactanos</h2>
          <br />
          <p>
            Ante una duda o consulta no dudes en enviarnos un mensaje, en breves
            estaremos comunicandonos.
          </p>
        </div>
        <div class="contenedor-contac">
          <!-- \\ Begin Left Side \\ -->
          <div class="Leftside">
            <form
              action="https://formsubmit.co/hernancazeneuve@gmail.com"
              method="POST"
            >
              <fieldset>
                <p>
                  <input
                    type="text"
                    value=""
                    placeholder="NAME"
                    class="field"
                    required
                  />
                </p>
                <p>
                  <input
                    type="email"
                    value=""
                    placeholder="EMAIL"
                    class="field"
                    required
                  />
                </p>
                <p>
                  <textarea
                    cols="2"
                    rows="2"
                    placeholder="MESSAGE"
                    required
                  ></textarea>
                </p>
                <p><input type="submit" value="Enviar" class="button" /></p>
                <p><input type="reset" value="Reset" class="button" /></p>
              </fieldset>
            </form>
          </div>
          <!-- // End Left Side // -->
          <!-- \\ Begin Right Side \\ -->
          <div class="Rightside">
            <address>
              Parque Industrial Alvear,<br />Ruta Provincial N° 21 Km 7, S2126
              Alvear, Santa Fe
            </address>
            <address class="Number">(+54)3414 02-7678</address>
            <address class="Email">
              <a href="mailto:info@carbosur.com.ar">info@carbosur.com.ar</a>
            </address>
          </div>
          <!-- // End Right Side // -->
        </div>
      </section>
      <!-- \\ Begin Footer \\-->
      <footer>
        <div class="partFooter">
          <img src="../img/Logo.PNG" alt="" />
        </div>
        <div class="partFooter">
          <h4>Servicios</h4>
          <a href="#">Terminos y servicios</a>
          <a href="#">Services 2</a>
          <a href="#">Services 3</a>
        </div>
        <div class="partFooter">
          <h4>Acerca de</h4>
          <a href="#">About 1</a>
          <a href="#">About 2</a>
          <a href="#">About 3</a>
        </div>
        <div class="partFooter">
          <h4>Redes sociales</h4>
          <div class="social-media">
            <i class="fab fa-facebook-f"></i>
            <i class="fab fa-twitter"></i>
            <i class="fab fa-instagram"></i>
            <i class="fab fa-youtube"></i>
          </div>
        </div>
        <div class="copy">
          <p>
            COPYRIGHT &copy; 2022 Carbosur S.R.L.
            <a
              rel="nofollow"
              href="https://github.com/HernanCazeneuve?tab=repositories"
              target="_parent"
              >HC</a
            >
          </p>
        </div>
      </footer>
      <!-- // End Footer // -->
      <script src="https://kit.fontawesome.com/9e8686deca.js"></script>
    </body>
  </html>
</html>
